

body {
  background: black;
}

.main{
  position: absolute;
  width:275px;
  height: 535px;
  left:37% ;
  margin-top: 20px;
}
.button, .equal, .percentage{
  width: 68.75px;
  height:50px;
  padding:0;
  margin: 0px;
  display:block;
  border:none;
  cursor:pointer;
  font-size:25px;
  background-color: black;
  color:white;
  border-left: 1px solid #080808;
  border-right: 1px solid #080808;

  border-bottom: 1px solid #101010;
  outline: none;
}

.text {
  padding-top: 175px;
  padding-bottom: 15px;
  width:259px;
  font-size: 60px;
  text-align: justify;
   text-align-last:right ;
   border:1px solid #080808;
   background-color: black;
  color:white;
  padding-right: 16px;
}

tr, td {
 padding: 0px;
 margin: 0px;
 }


table {
 border-collapse: collapse;
 border-spacing: 0;
}

.orange {
  color: #e65c00;
}


.gray {
  color: #909090;
}